@font-face {
    font-family: 'Infra';
    src: url('./resources/Infra-Medium.woff') format('woff'),
    	 url('./resources/Infra-ExtraBold.otf') format('otf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica';
	src: url('./resources/helvetica-neue-97-black-condensed-oblique.otf') format('otf');
	font-weight: 900;
	font-style: oblique;
	font-stretch: condensed;
}

body{
	background-image: url("./resources/background.png");
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	overflow: hidden;
	height: 100vh;
}

h3{
	flex: initial;
	color: #c79f3f;
	font-family: "Infra", Infra-Medium;
	font-family: url('resources/Infra-Medium.woff');
	font-size: 20px;
	margin-top: -150px;
}

h4{
	flex: initial;
	color: #c79f3f;
	font-family: "Helvetica";
	font-size: 20px;
}

.item{
	align-self: center;
}

#centerContainer{
	display: flex;
	flex-direction: row;
	align-self: center;
	justify-content: left;
}

#earth{
	width: 270px;
	height: 270px;
}

.leerdoelen{
	flex: 1;
	font-family: "Helvetica";
	font-weight: 900;
	font-style: oblique;
	transform: scale(0.78,1);
	font-size: 20px;
	color: #f5f5f5;
	margin-left: 500px;
	padding-top: 40px;
}

.leerdoel{
	font-size: 28px;
}

a{
	margin-top: 0px;
	margin-bottom: 16px;
	padding-bottom: 40px;
	text-decoration: none;
	color: white;
	font-size: 33px;
}

#aboutbutton{
	text-align: center;
	margin-top: -100px;
}

#bottom{
	margin-top: 300px;
	text-align: center;
}

.onloaditem{
	opacity: 0;
}

#svg{
	filter: drop-shadow(1px 1px 12px rgba(216, 150, 47, 0.7));
}